.btn {
    cursor: pointer;
    display: block;
    background-color: rebeccapurple;
    padding: 4px 16px;
    font-size: 14px;
    color: white;
    border: 0;
    border-radius: 4px;
    box-shadow: 0 0 2px black;
    margin-top: 8px;
}

.header {
    display: flex;
    justify-content: space-between;
}

main {
    margin: 0 auto;
    width: 500px;
}

#question {
    display: none;
}

#finished-prompt {
    display: none;
}

#highscores {
    display: none;
}

#answer-result {
    display: none;
    font-size: 20px;
    font-style: italic;
    border-top: 1px #80808078 solid;
    color: grey;
    margin-top: 20px;
    padding-top: 4px;
}

.btn-link {
    border: 0;
    background: 0;
    font-size: 14px;
    color: rebeccapurple;
    cursor: pointer;
}

#highscores-list div {
    background-color: rgb(128 0 128 / 38%);
    padding: 8px;
}
